##########################################################
#
# This is a sample flask.cfg for developing the Flask Recipe App.
#
##########################################################
import os


# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)

# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = b'_5#4y2as45dfwf542L"5F4Q8zlas34kdjfoweij234;3fmda\n\xec]/'
WTF_CSRF_ENABLED = True
DEBUG = True

STATIC_PATH = "api/static/"
